@layer user-style, reset;

:root {
  --wve-toolbar-width: 40px;
  --wve-zoom: 1;
}

/* Styles that overrides user-style */
*,
*::before,
*::after {
  user-select: none;
  outline: none;
  cursor: default;
  pointer-events: auto;
}

html,
body {
  overflow: auto;
  inset: auto;
  opacity: initial;
  visibility: visible;
  transform: none;
  transform-style: flat;
  transition: none;
  animation: none;
  box-shadow: 0 0 4px 0 color-mix(in srgb, currentColor, transparent 50%);
}

html {
  margin-left: calc(var(--wve-toolbar-width) / var(--wve-zoom));
}

body {
  position: relative;
  zoom: var(--wve-zoom);
}

body :hover:not(:has(:hover), [wve-selected]) {
  box-shadow: inset 0 0 0 max(100vh, 100vw) color-mix(in srgb, currentColor, transparent 90%);
}

[wve-selected] {

  & {
    box-shadow: 0 0 0 2px color-mix(in srgb, currentColor, transparent 30%);
  }

  &[wve-movable] {
    cursor: grab;
    box-shadow: 0 0 0 2px var(--vscode-editorWarning-foreground);

    &:active {
      cursor: grabbing;
    }
  }

  * {
    pointer-events: none;
  }
}

.wve-adding-selection {

  &,
  & :not([id^=wve-], [id^=wve-] *) {
    cursor: copy !important;
  }
}

/* Styles for this extension's elements */
@font-face {
  font-family: 'WVE Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./MaterialSymbolsRounded.woff2) format('woff2');
}

@layer reset {
  body>[id^=wve-] {

    &,
    *,
    *::before,
    *::after {
      all: unset;
      box-sizing: border-box;
      font-family: var(--vscode-font-family);
      font-size: 10px;
      z-index: calc(infinity);
    }
  }
}

#wve-toolbar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  width: var(--wve-toolbar-width);
  height: 100dvh;
  zoom: calc(1 / var(--wve-zoom));
  color: var(--vscode-descriptionForeground);
  background-color: var(--vscode-editor-background);
  box-shadow: 0 0 1px 1px currentColor;
  /* for icons (inherited to descendant) */
  direction: ltr;
  font-feature-settings: 'liga';
  line-height: 1;
  font-size: 24px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;

  .wve-button {

    &,
    &::before,
    &::after {
      display: grid;
      place-content: center;
      width: var(--wve-toolbar-width);
      height: var(--wve-toolbar-width);
      font-size: 24px;
      font-family: 'WVE Icons';
      color: var(--vscode-foreground);
    }

    &:disabled,
    :disabled & {
      cursor: not-allowed;
      color: var(--vscode-disabledForeground);
      opacity: 0.8;
    }

    &:not(:disabled, :disabled *) {
      &:hover {
        box-shadow: inset 0 0 0 var(--wve-toolbar-width) var(--vscode-button-secondaryHoverBackground);
      }

      &:active {
        color: var(--vscode-textLink-foreground);
        background-color: oklch(50% 0 0 / 0.1);
      }
    }

    [type=checkbox] {
      appearance: none;
      color: transparent;
      background-color: transparent;
    }

    &:has([type=checkbox])::before {
      content: "link_off";
    }

    &:has([type=checkbox]:checked)::before {
      content: "link";
      color: var(--vscode-textLink-foreground);
      background-color: oklch(50% 0 0 / 0.2);
    }
  }

  &,
  >fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  >fieldset:not(:first-child) {
    border-top: 1px solid oklch(50% 0 0 / 0.2);
  }
}

#wve-selector {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  margin-left: calc(-1 * var(--wve-toolbar-width) / var(--wve-zoom));
  width: 0;
  height: 0;
  background-color: oklch(50% 0 0 / 0.15);
  /* NOTE Do not use border so that JavaScript can recognize mouse drag area. */
  box-shadow: 0 0 0 1px var(--vscode-editorWarning-foreground);
}